<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="/assets/css/style.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/ie.css" />
  <![endif]-->
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <title>{{ site.title }}</title>

  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
  href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="manifest" href="/manifest.json" />
  <meta name="theme-color" content="#329b75" />

  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:type" content="website" />
  <meta
    name="og:description"
    content="Neighbourhood cafe serving awesome speciality coffee and tea, delicious artisan treats and authentic Arabic home cooking based on family recipes"
  />
  <meta property="og:image" content="{{site.url}}/facebook.png" />
  <meta property="og:image:secure_url" content="{{site.url}}/facebook.png" />

  <meta
    property="og:url"
    content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
</head>
