<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="/assets/css/style.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/ie.css" />
  <![endif]-->
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <title>
    {% if page.microtitle %}{{ page.microtitle }} | {{ site.title }} {% elsif
    page.title %}{{ page.title }} | {{ site.title }} {% else %}{{ site.title
    }}{% endif %}
  </title>

  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
  href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="manifest" href="/manifest.json" />
  <meta name="theme-color" content="#006699" />

  <meta
    property="og:url"
    content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
</head>
