html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #329b75;
  color: #fff;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.6;
}

b,
strong {
  font-weight: 600;
}

a {
  color: inherit;
}

.section {
  padding: 2em;
}

.fancy {
  border: 8px solid #383a3b;
  border-image: url(/assets/css/diamonds-black.svg) 33.33% round;
  padding: 2em;
  text-align: center;

  .description {
    opacity: 1;
  }
}

.alt {
  background: #fffad0;
  color: #335852;

  .fancy {
    border-image: url(/assets/css/diamonds-green.svg) 33.33% round;
  }
}

.description {
  font-size: 1.25em;
  opacity: 0.8;
}

h2 {
  font-size: 2em;
  text-transform: lowercase;
}

.logo {
  filter: drop-shadow(2px 5px 0 rgba(51, 88, 82, 1));
}
