<!DOCTYPE html>
<html lang="en/EN" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  {% include head.html %}

  {% assign sorted = site.sections | sort: 'position' %}


  <body>
    <header>
      <nav>
        <ul>
          {% for block in sorted %}
            {% unless forloop.index == 1 %}
              <li>
                <a href="#section_{{ forloop.index }}">{{ block.title}}
                </a>
              </li>
            {% endunless %}
          {% endfor %}
          </li>
        </ul>
      </nav>
    </header>

    <main>

      {% for block in sorted %}
        <!--<pre>{{ block | inspect}}</pre>-->
        <section class="section {% cycle 'normal', 'alt' %}" id="section_{{forloop.index}}">
          <div class="row">
            <div class="content">
              {%if block.id == '/sections/onaesa' %}
                <img class="logo" height="50" src="/assets/img/wanasa-logo.svg"/>
              {% endif %}

              <h2>{{ block.title }}
              </h2>
              <p class="description">
                {{ block.tagline | newline_to_br }}
              </p>
              <div class="body">
                {{ block.content }}
              </div>
            </div>

            {% include _images.html files = block.images %}
          </div>

        </section>
      {% else %}
        The collection is empty.
      {% endfor %}

    </main>
  </body>
</html>
